body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}
.quote-description {
  height: 100vh;
  position: relative;
}
#quote-box {
  background: lightblue;
  opacity: 1;
  transition: background-color 1s ease-in;
}
#text {
  border-radius: 5px;
  height: fit-content;
  padding: 30px 0;
  width: 500px;
  background: white;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
}
#quote-text-info {
  text-align: center;
  height: fit-content;
  flex-basis: 120px;
  width: 410px;
  margin: auto auto;
  color: white;
  opacity: 1;
  transition: opacity 0.5s ease-in;
}
#text h3 {
  text-align: center;
  display: inline;
}

#author-info {
  text-align: right;
  margin: 20px;
}
#new-quote {
  display: inline-flex;
  width: 410px;
  margin: auto auto;
}
#tweet-quote {
  height: 40px;
  width: 40px;
  border-radius: 5px;
  border: none;
  color: white;
  text-decoration: none;
  outline: none;
  border: none;
  opacity: 1;
  transition: background-color 1s ease-in;
}
#tweet-btn {
  flex-basis: 50px;
}
#tmblr-btn {
  flex-basis: 50px;
}

#new-quote-btn {
  height: 40px;
  border-radius: 5px;
  border: none;
  color: white;
  outline: none;
  opacity: 1;
  transition: background-color 1s ease-in;
}
@media only screen and (max-width: 560px) {
  #text {
    width: 90%;
  }
  #quote-text-info {
    flex-basis: none;
    width: 100%;
  }
  #new-quote {
    width: 100%;
  }
  #new-quote {
    justify-content: center;
  }
  #author-info {
    text-align: center;
  }
}
